



.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.heading {
    font-size: 35px;
    letter-spacing: 3px;
    color: blueviolet;
    font-family: 'fontname';
}

.card-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
    padding: 60px 5% 20px 5%;
}

.card-container>* {
    width: 30%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: rgb(232, 219, 219);
    outline: .05rem solid gray;
    outline-offset: -0.5rem;
    transition: all .2s linear;
    cursor: pointer;
}

.card h3 {
    margin-top: 20px;
    color: #1d3557;
    font-size: 29px;
    letter-spacing: 2px;
    font-family: 'fontname4';
}

.card img {
    height: 250px;
}

.card:hover {
    outline: .105rem solid #422680;
    outline-offset: 0;
}

.card .stars {
    display: flex;
    gap: .6em;
    margin-bottom: 8px;
}

.stars > *{
    color: purple;
}



.price {
    display: flex;
    gap: 0.5em;
}

.card .price p {
    font-size: 35px;
    color: #ec9a9a;
    font-family: 'fontname3';
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

