@media (max-width: 1100px){
    .card-container {
        justify-content: center;
    }

    .card-container>* {
        width: 48%;
    }
}

@media(max-width: 890px) {
    .card-container>* {
        width: 46%;
    }
}

@media(max-width: 850px){
    .product {
        padding-bottom: 20px;
    }
}

@media (max-width: 760px){
    .product {
        padding-top: 40px;
    }

    .card-container {
        padding: 30px 1% 20px 1%;
        gap: 0.5em;
    }

    .card-container>* {
        width: 48%;
    }

    .card h3 {
        margin-top: 10px;
        font-size: 22px;
    }

    .card img {
        height: 200px;
    }

    .card .price p {
        font-size: 27px;

    }
}

@media(max-width: 650px){
    .product {
        padding-bottom: 5px;
    }
}

@media (max-width: 600px){
    .card-container {
        padding: 20px 1% 20px 1%;
    }

    .heading {
        font-size: 30px;
    }
}

@media (max-width: 450px){
    .heading {
        font-size: 23px;
    }

    .card h3 {
        font-size: 15px;
    }

    .card img {
        height: 130px;
    }

    .card .price p {
        font-size: 22px;
    }

    .card i {
        font-size: 12px;
    }
}

@media(max-width: 440px){
    .product {
        padding-bottom: 0;
    }
}