.home {
    background: rgb(226, 218, 218);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home h1 {
    font-size: 50px;
    color: #422680;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'fontname', sans-serif;
}

.home h1 .span1 {
    font-size: 60px;
    color: #f54952;
    letter-spacing: 25px;
    text-transform: uppercase;
    font-family: 'fontname', sans-serif;
}

.img2 {
    height: 600px;
    cursor: pointer;
    transition: .5s;
}