@media (max-width: 1150px) {
    .home h1 {
        font-size: 40px;
    }

    .home h1 .span1 {
        font-size: 50px;
        letter-spacing: 22px;
    }
}

@media (max-width: 1100px) {
    .home h1 {
        font-size: 35px;
    }

    .home h1 .span1 {
        font-size: 43px;
    }

    .img2 {
        height: 500px;
    }
}

@media (max-width: 1000px) {
    .home h1 {
        font-size: 30px;
        line-height: 1.5;
    }

    .home h1 .span1 {
        font-size: 35px;
    }

    .img2 {
        height: 400px;
    }
}

@media (max-width: 900px) {
    .home h1 {
        font-size: 25px;
    }

    .home h1 .span1 {
        font-size: 30px;
        letter-spacing: 21px;
    }

    .img2 {
        height: 350px;
    }
}

@media (max-width: 760px) {
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 55px;
        padding-bottom: 55px;
        height: auto;
    }

    .img2 {
        order: 1;
    }

    .home h1 {
        order: 2;
        text-align: center;
        font-size: 40px;
        line-height: 1.3;
    }

    .home h1 .span1 {
        font-size: 50px;

    }
}

@media (max-width: 600px) {
    .home {
        padding-top: 45px;
        padding-bottom: 35px;
        height: auto;
    }

    .home h1 {
        font-size: 25px;
    }

    .home h1 .span1 {
        font-size: 30px;
        letter-spacing: 19px;
    }

    .img2 {
        height: 250px;
    }
}

@media (max-width: 450px) {
    .home {
        padding-top: 45px;
        padding-bottom: 35px;

    }

    .home h1 {
        font-size: 18px;
        letter-spacing: 7px;
    }

    .home h1 .span1 {
        font-size: 23px;
        letter-spacing: 12px;
    }

    .img2 {
        height: 200px;
    }
}