.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0;
}

.map {
    height: 450px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(232, 219, 219);
    outline: .05rem solid gray;
    outline-offset: -0.5rem;
}

.title-con {
    position: absolute;
    top: 15px;
    text-align: center;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 8px;
    letter-spacing: 3px;
    font-size: 20px;
    color: purple;
    font-family: "ALK Life", sans-serif;
    font-weight: 600;
}

.map img {
    height: 400px;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.fa-facebook-square {
    position: absolute;

    right: 35%;
    bottom: 235px;
    box-shadow: 0 0 10px;
    cursor: pointer;
    color: blue;
    padding: 5px;
    border-radius: 10px;
    font-size: 60px;
    transition: 0.6s;
}

.fa-facebook-square:hover {
    transform: scale(1.15);
}

.number {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 8px;
}

.contact-info {
    font-family: "Momo Signature", cursive;

    display: flex;
    justify-content: center;
    align-items: center;
    gap:.3em;
}

.ri-phone-line {
    font-size: 20px;
    color: red;
}

.fa-viber {
    color: purple;
    font-size: 20px;
}

.fa-square-whatsapp {
    font-size: 21px;
    color: green;
    
}