* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
}

/* Fonts --------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'fontname';
    src: url(font/alk_tommaso.otf);
}

/* Home h1, Home h1 .span1, Product Heading - Font */

@font-face {
    font-family: 'fontname1';
    src: url(font/123Wave-Regular-30904523489.ttf);
}

/* Nav A - Font */

@font-face {
    font-family: 'fontname4';
    /* src: url(font/SS\ GEO\ CHALK\ \(AllCaps\)-25543181111.otf); */
    src:url(font/ss-geo-chalk-allcaps.otf.otf);
}

/* Card H3 - Font */

@font-face {
    font-family: 'fontname3';
    src: url(font/ss-geo-creepster.otf.otf);
}

/* Card .price p  - Font*/




/* All Code ------------------ All Code ------------------- All Code ---------------------- */
/* All Code ------------------ All Code ------------------- All Code ---------------------- */
/* All Code ------------------ All Code ------------------- All Code ---------------------- */




/* Header -------------------Header-------------------Header-------------------------Header----------------------- */
/* Header --------------Header--------------------------Header------------------------Header--------------------- */
/* Header ---------------Header---------------------------Header------------------------Header-------------------- */


/* Home Section ---------------------------------------------------------------------------------------------------------- */
/* Home Section ---------------------------------------------------------------------------------------------------------- */
/* Home Section ---------------------------------------------------------------------------------------------------------- */



/* Product Section ----------------------------------------------------------------------------------------------- */
/* Product Section ----------------------------------------------------------------------------------------------- */
/* Product Section ----------------------------------------------------------------------------------------------- */



/* Section Contact ------------------------------------------------------------------------------------------- */
/* Section Contact ------------------------------------------------------------------------------------------- */
/* Section Contact ------------------------------------------------------------------------------------------- */



/* Footer --------------Footer-------------Footer-------------Footer--------------Footer-----------Footer-------- */
/* Footer --------------Footer-------------Footer-------------Footer--------------Footer-----------Footer-------- */
/* Footer --------------Footer-------------Footer-------------Footer--------------Footer-----------Footer-------- */

